In [2]:
#this is assignment submitted by SAI REVANTH MUPPARAJU ,id.no.35

import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical

Using TensorFlow backend.

In [5]:
train_df = pd.read_csv("Desktop\hourly_wages_data.csv")
train_df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [9]:
train_X = train_df.drop(columns=['wage_per_hour'])
train_X.head()

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0

In [11]:
train_y = train_df[['wage_per_hour']]
train_y.head()

   wage_per_hour
0           5.10
1           4.95
2           6.67
3           4.00
4           7.50

In [20]:
model = Sequential()
n_cols = train_X.shape[1]
model.add(Dense(150, activation='relu', input_shape=(n_cols,)))
model.add(Dense(150, activation='relu'))
model.add(Dense(1))

In [21]:
model.compile(optimizer='adam', loss='mean_squared_error')
early_stopping_monitor = EarlyStopping(patience=3)

model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 0s 624us/step - loss: 36.5646 - val_loss: 39.0838
Epoch 2/30
427/427 [==============================] - 0s 56us/step - loss: 21.5872 - val_loss: 28.0453
Epoch 3/30
427/427 [==============================] - 0s 51us/step - loss: 20.3144 - val_loss: 31.7916
Epoch 4/30
427/427 [==============================] - 0s 103us/step - loss: 19.3384 - val_loss: 33.7995
Epoch 5/30
427/427 [==============================] - 0s 54us/step - loss: 19.2209 - val_loss: 33.7583

In [26]:
model_mc = Sequential()

model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))
model_mc.compile(optimizer='adam', loss='mean_squared_error')
model_mc.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 0s 954us/step - loss: 28.4062 - val_loss: 28.5946
Epoch 2/30
427/427 [==============================] - 0s 106us/step - loss: 19.7008 - val_loss: 30.6489
Epoch 3/30
427/427 [==============================] - 0s 88us/step - loss: 19.3588 - val_loss: 30.0352
Epoch 4/30
427/427 [==============================] - 0s 108us/step - loss: 20.3997 - val_loss: 29.0403